<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE template [
    <!ELEMENT layer (menu, element)>
    <!ATTLIST layer
        id   ID   #REQUIRED
    >

    <!ELEMENT menu (#PCDATA)>

    <!ELEMENT element (#PCDATA)>
]>

<template>
    <layer id="0">
        <menu><![CDATA[
            <ul id="nav">#{data}</ul>
        ]]></menu>

        <item><![CDATA[
            <li><a href="#{href}" #{attributes}>#{text}</a>#{data}</li>
        ]]></item>
    </layer>

    <layer id="default">
        <menu><![CDATA[
            <ul>#{data}</ul>
        ]]></menu>

        <item><![CDATA[
            <li><a href="#{href}" #{attributes}>#{text}</a>#{data}</li>
        ]]></item>
    </layer>

    <separator><![CDATA[
        <div class="separator"></div>
    ]]></separator>
</template>
