<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE template [
    <!ELEMENT layer (menu, element)>
    <!ATTLIST layer
        id   ID   #REQUIRED
    >

    <!ELEMENT menu (#PCDATA)>

    <!ELEMENT element (#PCDATA)>
]>

<template>
    <layer id="0">
        <menu><![CDATA[
            <div class="menu">#{data}</div>
        ]]></menu>

        <item><![CDATA[
            <span class="item"><a href="#{href}">#{text}</a></span>
        ]]></item>
    </layer>
</template>
