<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE configuration [
    <!ELEMENT configuration ANY>
]>

<!--

Actually the configuration has just some vars but a module could need some
things to be set and those configurations will go here.

-->

<configuration domain="core">
    <refreshEvery>360</refreshEvery>
    <siteTitle></siteTitle>
    <homePage>home</homePage>

    <loadingMessage><![CDATA[<center>Loading...</center>]]></loadingMessage>

    <theme>Original</theme>
</configuration>
