.blog div.post {
    border-bottom: 1px solid #EEF;
    margin: 8px 0px;
    padding: 4px;
}

.blog .post .title a {
    color: #35A;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.blog .post .date {
    border-bottom: 1px solid #EEF;
    padding-bottom: 4px;
    margin-bottom: 4px;
    color: #888;
    font-size: 10px;
    text-align: center;
}

.blog pre {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid #222222;
    background-color: #353535;
}

.blog .page .post {
    margin-bottom: 10px;
}

.blog .post .header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.blog .post .by {
    margin-top: 10px;
    text-align: right;
}

.blog .post .by .author {
    font-weight: bold;
}

.blog .post .by .date {
    font-style: italic;
}

.blog .pager {
    margin-top: 10px;
}

.blog .pager div {
    float: left;
}

.blog .pager .previous {
    margin-right: 5px;
}

.blog .pager .next {
    margin-left: 5px;
}

.blog .pager .previous a, .blog .pager .next a {
    font-weight: bold;
    text-decoration: none;
}

.blog .pager .numbers div {
    font-weight: bold;

    background-color: #353535;
    border: 1px solid #222222;

    padding-left: 2px;
    padding-right: 2px;

    margin-left: 2px;
    margin-right: 2px;
}

.blog .pager .numbers div:hover {
    background-color: #3C3C3C;
}

.blog .pager .numbers .current{
    font-weight: normal;
}

.blog .pager .numbers a {
    text-decoration: none;
}

.blog #editor {
    width: 99%;
    height: 100px;
    font-family: Courier new;
    font-size: 10px;
}
