* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    color: #444;
    background: #FFF;
    font-family: monospace;
    font-size: 11px;
}

a {
    color: #000;
    text-decoration: underline;
}

#menu a {
    text-decoration: none;
    cursor: pointer;
}

#menu a:hover {
    text-decoration: underline;
}

#container {
    width: 640px;
    margin: 0 auto;
    padding: 4px;
}

#header {
    text-align: right;
}

#menu {
    height: 16px;
    margin: 4px 0px;
    border: 1px solid #DDE;
    padding: 4px;
    padding-bottom: 3px;
    display: inline-block;
}

#menu .menu {
    padding: 0 4px;
    display: inline;
    list-style-type: none;
}

#body {
    padding: 8px;
    min-height: 480px;
}

#footer {
    text-align: right;
    font-size: 8px;
    padding: 4px;
}

.link .url {
    float: left;
}

.link .description {
    margin-left: 7px;
    float: left;
}

.project > div {
    border: 1px solid #DDE;
    margin: 4px 0px;
    padding: 4px;
}

.project > div:hover {
    background-color: #EEF;
}

.project .url a {
    color: #35A;
    font-size: 13px;
    font-weight: 700;
}

.project .url {
    margin-bottom: 15px;
}

.round {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
